
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
:root {	
	--font: Inter;
	--style: normal;

	--web-h1: 3.5rem;
	--web-h2: 2.25rem;
	--web-h3: 1.5rem;
	--web-h4: 1.25rem;
	--web-h5: 1rem;
	--web-heading:2rem;

	--web-msg: 1.5625rem;
	--web-msg-line-height: 2rem;

	--web-h1-line-height: 4rem;
	--web-h2-line-height: 3rem;
	--web-h3-line-height: 2.5rem;
	--web-h4-line-height: 1.5rem;
	--web-h5-line-height: 3rem;
	--web-line-height: 2.25rem;

	--web-fs-paragraph: 1.25rem;
	--web-line-height: 1.5rem;
	--web-fs-smallText: 0.75rem;
	--web-fs-button: 0.875rem;
	

	--fw-bold: bold;
	--fw-normal: 500;
	--fw-light: 400;

	--mobile-h1: 1.375rem;
	--mobile-h2: 1.25rem;
	--mobile-h3: 1rem;
	--mobile-h4: 0.7rem;
	--mobile-h5: 0.8rem;
	--mobile-fs-paragraph: 0.875rem;
	--mobile-line-height: 1.25rem;
	--mobile-fs-smallText: 0.625rem;
	--mobile-fs-button: 0.813rem;
}
html {
    /* Setting root font size for 'rem' */
    font-size: 0.834vw;
    --base-fontsize-mobile: 3.75vw;
}
body{
    text-align: center;
    margin: 0;
}
* {
    font-family: var(--font), sans-serif;
    box-sizing: border-box;
}
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.weight-bold {
    font-weight: 700 !important;
}
.weight-medium {
    font-weight: 500 !important;
}
.weight-regular {
    font-weight: 400 !important;
}
h1, h2 , h3 , h4 {
    margin: 0;
}

h1,
.h1 {
    font-family: "Inter";
    font-style: normal;
    font-size: 3rem; /* 48px */
    line-height: 3.25rem; /* 52px */
}

h2,
.h2 {
    font-family: "Inter";
    font-style: normal;
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}

h3,
.h3 {
    font-family: "Inter";
    font-style: normal;
    font-size: 1.75rem; /* 28px */
    line-height: 2rem; /* 32px */
}

h4,
.h4 {
    font-family: "Inter";
    font-style: normal;
    font-size: 1.25rem; /* 20px */
    line-height: 1.5rem; /* 24px */
}

.font-body {
    font-family: "Inter";
    font-style: normal;
    font-size: 1rem; /* 16px */
    line-height: 1.375rem; /* 22px */
}

.font-small {
    font-family: "Inter";
    font-style: normal;
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}

.font-button {
    font-family: "Inter";
    font-style: normal;
    font-size: 0.875rem; /* 14px */
    line-height: 0.875rem; /* 14px */
    font-weight: 700;
}

@media only screen and (max-width: 767px) {
    h1,
    .h1 {
        font-size: 1.75rem; /* 28px */
        line-height: 2rem; /* 32px */
    }

    h2,
    .h2 {
        font-size: 1.5rem; /* 24px */
        line-height: 1.75rem; /* 28px */
    }

    h3,
    .h3 {
        font-size: 1.25rem; /* 20px */
        line-height: 1.5rem; /* 24px */
    }

    h4,
    .h4 {
        font-size: 1rem; /* 16px */
        line-height: 1.25rem; /* 20px */
    }

    .font-body {
        font-size: 0.875rem; /* 14px */
        line-height: 1.25rem; /* 20px */
    }

    .font-small {
        font-size: 0.625rem; /* 10px */
        line-height: 0.75rem; /* 12px */
    }

    .font-button {
        font-size: 0.813rem; /* 13px */
        line-height: 0.813rem; /* 13px */
        font-weight: 700;
    }
}
:root{
    /* primary  */
    --primary:#6E40FF ;
    --primary-medium:#7548A8;
    --primary-light:#E8E0FF;
    --primary-lighter: #D8C9FF;
    /* secondary */
    --secondary:#109C72;
    --secondary-light:#D9EFE8;

    /* grayscale */
    --grayscale:#172B4D;
    --grayscale-5:#a3a2a5;
    --grayscale-4:#6B788D;
    --grayscale-3:#A2AAB8;
    --grayscale-2:#DADDE2;
    --grayscale-1:#EDEEF1;
    --gray-purple:#97929C;
    
    /* blacks */
    --pure-black: #000000;
    --black:#201F20;
    --black-deep:#0E0D0E;
    --black-dark:#241C3C;
    --black-shadow:#172b4d29;
    --black-shadow-1:#c7e9ff;
    --black-shadow-2:rgb(23 43 77 / 15%);
    
    /* whites */
    --white:#FFFFFF;
    --off-white:#F8F9FA;
    --off-white-1:#F9F8FE;
    --off-white-2:#DADAE2;

    /* alerts */
    --alert-success-font:#006100;
    --alert-success-bg:#C6EFCE;
    --alert-danger-font:#9C0006;
    --alert-danger-bg:#FFC7CE;
    --alert-warning-font:#9C5700;
    --alert-warning-bg:#FFEB9C;
    --alert-info-font:#FFEB9C;
    --alert-info-bg:#C6CAF0;

    /* error */
    --error: #E53935;

    /* button */
    --button: #9E6DD2;
    --button-bg: #262a4b;
}
section{
    padding: 4.5rem 0;
    display: flex;
    justify-content: center;
}
.container__width{
    width: 88rem;
}
/*pricing main section css starts here*/
.pricing-main__section{
background-color: var(--off-white);
}
.pricing-content{
    background-color: #F8F9FA;
    padding-top: 8rem;
    padding-bottom: 6rem;
}
.pricing-header__content h1{
    padding-top: .5rem;
    margin: 0;
    padding-bottom: .5rem;
    color: var(--black-deep);
}
.pricing-header__content h4{
    padding-top: 1rem;
    padding-bottom: 4.5rem;
    margin: 0;
}
.pricing-switch{
    display: flex;
    justify-content: center;
}
.pricing-switch p{
    color: var(--grayscale);
    margin-top: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 3rem;
	height: 1.75rem;
	background: var(--primary);
	display: block;
	border-radius: 6.25rem;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 1rem;
	height: 1rem;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--primary);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width:1.56rem;
}
.pricing-columns{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    padding: 0;
    margin-top: 0.3rem;
    margin: 0 auto;
}
.pricing-column{
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 1em;
    box-shadow: 0 0 1em rgb(0 0 0 / 20%);
    margin: 0.5em;
    flex: 0 1 33%;
}
.pricing-column__header-content h1{
    margin: 0;
    color: var(--grayscale);
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.pricing-column__header-content h4{
    color: var(--grayscale);
    padding-top: 1rem;
    margin: 0;
}
.pricing-column-info{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.pricing-column-info span{
    color: var(--grayscale-4);
}
.pricing-column__button button{
    padding: 1rem;
    width: 22.5rem;
    border:0 ;
    background: var(--primary);
    border-radius: 4px;
    color: var(--white);
}
.pricing-column__features{
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}
.pricing-column__features-list{
    padding: 0rem 1.5rem;
}
.pricing-column__feature-content{
    display: flex;
    align-items: center;
}
.pricing-column__feature-content img{
    height: 1.375rem;
}
.pricing-column__feature-content p{
    color: var(--grayscale);
    margin-left: 0.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: var(--web-fs-paragraph);
    font-weight: var(--fw-normal);
    font-family: var(--font);
}
.pricing-column__features-para{
    display: flex;
}
.pricing-column__features-para.hidden{
    color: transparent;
}
.pricing-column__features-para.hidden p{
    margin: 0;
    margin-bottom: 0.3rem;
}
.pricing-column__features-para h4{
    margin-bottom: 0;
    color: var(--primary);
}
.pricing-column__line{
    border: 0.01rem solid #DADDE2;
}
.pricing-column__button{
    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
}
.pricing-terms{
    text-align: left;
    padding: 0 5rem;
    margin: 0 auto;
}
.pricing-terms h4{
    color: var(--grayscale-4);
    margin-top: 0.5rem;
}

/*customer-review section css*/

.customersRev__wrapper{
    margin: 0rem 14rem;
    padding: 0rem 0px;
}
.customer-review{
    padding: 8rem 0;
}
.customerRev__heading{
    color: var(--primary);
    margin: 0;
}
.customer-review__slide-wrapper{
    margin: 0rem 5rem 0rem 5rem;
}
.customer-review__body{
    display: flex;
    align-items: center;
}
.customer-review__image-content{
    position: relative;
}
.customer-review__image{
    width: 25rem;
    height: auto;
    margin: 3rem 0 1.5rem 0;
    position: relative;
}
.customer-review__slide h3{
    color: var(--grayscale);
    margin: auto 3rem;
    text-align: left;

}

.customer-review__details .customer-review__slide{
    display: none;
    align-items: center;
    margin: 0 auto;
} 
.customer-review__details .customer-review__slide.viewSlide{
    display: flex;
      animation: fadein 700ms;
      justify-content: space-between;
      margin-bottom: 2rem;
      /* display: flex; */
      align-items: center;
      gap: 3.8rem;
      /* justify-content: space-between;
      margin-bottom: 2rem; */
      margin: 0 auto;
      padding-top: 5rem;
}
.customer-review__designation{
    color: var(--grayscale);
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.customer__span{
    margin: 0;
}
.customer-review__arrow-right{
    color: var(--grayscale);
    box-shadow: 1px 0px 2px 1px rgb(23 43 77 / 16%);
    border-radius: 7.5rem;
    cursor: pointer;
}
.customer-review__arrow-left{
    color: var(--grayscale);
    box-shadow: 1px 0px 2px 1px rgb(23 43 77 / 16%);
    border-radius: 7.5rem;
    cursor: pointer;
    transform: rotate(180deg);
}
.customer-review__arrow-right img{
    width: 4.5rem;
    height: 4.5rem;
}
.customer-review__arrow-left img{
    width: 4.5rem;
    height: 4.5rem;
}

.customer-review__bg-pattern{
    position: absolute;
    left: 4.25rem;
    top: -0.5rem;
    z-index: -1;
    opacity: 0.4;
    width: 25rem;
    height: auto;
}
/*customer review css end*/

/* faq section css starts here */
.faq-section{
    padding-bottom: 8rem;
}
.faq-section header h2{
    color:var(--grayscale);
    margin: 0;
    padding-bottom: 2rem;

}

.faq-container__wrapper{
    padding: 4.5rem 0rem 4rem;
}
.faq-container__item{
    margin-bottom: 1.6rem;
}

.faq-container__item-list{
    display: flex;
    gap: 1.5rem;
    color: var(--grayscale);
    cursor: pointer;
    margin-bottom: .6rem;
}
.faq-container__item-list.active{
    opacity: 1;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
    margin-bottom: .6rem;
}
.faq-container__item-list img{
    width: 1.432rem;
}
.faq-container__item-list.active .minus_icon{
    display: block;
}
.faq-container__item-list.active .plus_icon{
    display: none;
}
.faq-container__item-list .plus_icon{
    display: block;
}
.faq-container__item-list .minus_icon{
    display: none;
}

.faq-container__para.active{
    opacity: 1;
    margin-top: 0;
    max-height: 100%;
    padding-left: 3rem;
    transition: all 0.35s ease 0.15s;
    text-align: left;
    color: var(--grayscale);
}
.faq-container__para{
    opacity: 0;
    opacity: 0;
    padding: 0 3.5rem;
    max-height: 0;
    overflow: hidden;
    clear: both;
    text-align: left;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
    text-align: left;
    padding-left: 2.75rem;
}
.load__more__button{
    border-radius: 8px;
    padding: 2.4rem 10.7rem;
    background-color: var(--grayscale);
    color: var(--white);
}
.plus_icon{
    display: none;
    }
    .minus_icon{
    display: none;
    }
/* faq section css ends here */


@media only screen and (max-width: 767px) {
    html {
        font-size: var(--base-fontsize-mobile);
    }
    /* pricing main section mobile view css starts here */
    section{
        padding: 2.5rem 1rem;
    }
    .pricing-header__content h1{
        margin: 0 3rem;
    }
    .pricing-content{
        padding: 3rem 1rem 3.35rem 1rem;    
    }
    .pricing-header__content h4{
        padding-bottom: 1.5rem;
        margin: 0 3rem;
        padding-top: 0;
    }
    .pricing-column__button button{
      
        width:94%;
     }
    .pricing-columns{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 0 0rem;
        margin: 0 auto;
    }
    .pricing-column__feature-content p{
        font-size: var(--mobile-h3);
    }
    .pricing-terms{
        padding: 0 1rem;
    }
    /* pricing main section css for mobile view ends here */
   
   
    /* customer-review section mobile view starts here */
    
   .customer-review__arrow-left{
        display: none;
    }
    .customer-review__arrow-right{
        display: none;
    }
    .customersRev__wrapper{
        margin:0;
    }
    .customersRev__wrapper  h2{
        text-align: left;
    }
    .customer-review__indicator{
        display: none;
    }
    .customer-review__slide-wrapper {
        margin: 0;
        display: flex;
        align-items: stretch;
        width: calc(100vw - 2rem);
        overflow-x: auto;
    }
    .customer-review__details{
        display: flex;
        width: calc(100vw - 2rem);
        margin-right: 1rem;
    }
    /* .customer-review__slide{
        flex-direction: column;
        padding-top: 1rem;
        gap: 1rem;
    } */
    .customer-review{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .customer-review header h2{
        text-align: left;
        margin-left: 1rem;
    }
    .customer-review__slide h3{
        margin: 1rem 3rem 0rem 0rem;
        text-align: left;
    }
    .customer-review__details .customer-review__slide{
        display: inline !important;
        width: calc(100vw - 2rem);
        padding-top: 0rem !important;
        
    }
    .customer-review__image{
        margin: 0;
        border-radius: 16px;
        width: 5rem;
        align-items: flex-start;
    }
    .customer-review__designation{
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        align-items: self-start;
    }
    .customer-review__image-content{
        display: flex;
        align-items: center;
        position: relative;
        gap: 1rem;
        margin-top: 1.715rem;
        align-self: flex-start;
    }
    .customer-review__bg-pattern{
        display: none;
    }

    /* customer-review section mobile view ends here */

    /* faq section mobile view starts here */
    .faq-container__wrapper{
        padding: 0;
        padding-bottom: 2rem;
    }
    .faq-container__item-list{
        gap: 0.5rem;
    }
    .faq-container__item-list h3{
        text-align: left;
    }
    .faq-container__para.active{
        padding-left: 2rem;
        transition: none;
    }
    .faq-container__para{
        transition: none;
    }
    .load__more__button{
        padding: 1.2rem 10rem;
    }
    /* faq section mobile view ends here */
}